.Header{
    display: flex;
    height: 60px;
    background-color: hotpink;
    justify-content: space-around;
    align-items: center;
    border-color: gold;
    border-width: 0 0 6px 0;
    border-style: dotted;
}
.Header a{
    color: ghostwhite;
    font-size: xx-large;
    font-family: "Harlow Solid Italic", sans-serif;
    text-decoration: none;
}
.Header a.hover{
    color: red;
}
