.Header{
    display: flex;
    height: 60px;
    background-color: hotpink;
    justify-content: space-around;
    align-items: center;
}
.Header a{
    color: ghostwhite;
    font-size: xx-large;
    font-family: "Copperplate Gothic Bold", sans-serif;
    text-decoration: none;
}
.Header a[class='active']{
    color: indigo;
}